#### Home Task

##### Use the Attribute and Dress Sales dataset which are connected through Dress_ID column.

**Everything should be done through Python**

- Create a table for both the datasets.
- Do a bulk load for these two tables for respective datasets (insert the data in one go).
- Read these datasets in pandas as a dataframe.
- Convert Attribute dataset into JSON format.
- Store this json dataset into MongoDB. (again in one go)
- In SQL try to perform left join operation with Attribute dataset(left side) and Sales dataset on column Dress_ID.
- Write a sql query to find out how many unique dress that we have based on Dress_ID?
- Try to find out how many dress is having Recommendation 0?
- Try to find out total dress sale based on Dress_ID for each Dress_ID.
- Try to find out third highest most selling Dress_ID.

In [2]:
# importing required libraries

import pandas as pd
import mysql.connector as conn
from mysql.connector import Error
from sqlalchemy import create_engine

In [2]:
# collecting data from excel file

df1 = pd.read_excel('datasets/Attribute Dataset.xlsx', index_col='Dress_ID')
df2 = pd.read_excel('datasets/Dress Sales.xlsx', index_col='Dress_ID')
pd.set_option('display.max_columns', None)

In [3]:
df1.head(2)

,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
Dress_ID,,,,,,,,,,,,,
1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0

In [4]:
df2.head(2)

,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,16/9/2013,18/9/2013,20/9/2013,22/9/2013,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
Dress_ID,,,,,,,,,,,,,,,,,,,,,,,
1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,3277,3321,3386,3479,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1212192089,151,275,570,750,813,1066,1164,1558,1756,1878,1985,2106,2454,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277

In [5]:
# Now to check the number of null values in df1

df1.isnull().sum()

Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
waiseline          87
Material          128
FabricType        266
Decoration        236
Pattern Type      109
Recommendation      0
dtype: int64

In [6]:
# Changing the null values to string 'None'

df1 = df1.fillna('None')
df1.head()

,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
Dress_ID,,,,,,,,,,,,,
1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,None,chiffon,ruffles,animal,1
1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,None,ruffles,animal,0
1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,None,None,print,0
966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [7]:
# again checking the null values

df1.isnull().sum()

Style             0
Price             0
Rating            0
Size              0
Season            0
NeckLine          0
SleeveLength      0
waiseline         0
Material          0
FabricType        0
Decoration        0
Pattern Type      0
Recommendation    0
dtype: int64

In [8]:
# path to the directory

import os

os.getcwd()

'F:\\Machine Learning\\INeuron_FSDS\\Live Classes\\database exercise'

In [9]:
# now storing this data as .csv file

df1.to_csv('F:\\Machine Learning\\INeuron_FSDS\\Live Classes\\database exercise\\datasets\\attributes.csv')

In [10]:
# Now same for df2

df2.isnull().sum()

29/8/2013                0
31/8/2013                0
2013-02-09 00:00:00      0
2013-04-09 00:00:00      0
2013-06-09 00:00:00      0
2013-08-09 00:00:00      0
2013-10-09 00:00:00      0
2013-12-09 00:00:00      0
14/9/2013                0
16/9/2013                0
18/9/2013                0
20/9/2013                0
22/9/2013                0
24/9/2013                0
26/9/2013              237
28/9/2013                0
30/9/2013              273
2013-02-10 00:00:00    275
2013-04-10 00:00:00    274
2013-06-10 00:00:00      0
2010-08-10 00:00:00    271
2013-10-10 00:00:00    271
2013-12-10 00:00:00      0
dtype: int64

In [11]:
# checking the column names types

for i in df2.columns:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>

In [12]:
# Changing the datetimes to str type in the column name

# creating function
def date_str(l):
    l1 = []
    for i in l:
        if type(i) != str:
            k = i.strftime('%d/%m/%Y')
            l1.append(k)
        else:
            l1.append(i)
    return l1

# calling the function
df3 = date_str(df2.columns.tolist())

# changing all the columns to str type
df2.columns = df3

In [13]:
# again checking the column names types

for i in df2.columns:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [14]:
# Now checking the null value types

df2[df2.isna()]

,29/8/2013,31/8/2013,09/02/2013,09/04/2013,09/06/2013,09/08/2013,09/10/2013,09/12/2013,14/9/2013,16/9/2013,18/9/2013,20/9/2013,22/9/2013,24/9/2013,26/9/2013,28/9/2013,30/9/2013,10/02/2013,10/04/2013,10/06/2013,10/08/2010,10/10/2013,10/12/2013
Dress_ID,,,,,,,,,,,,,,,,,,,,,,,
1006032852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1212192089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1190380701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
966005983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
876339541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713391965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
722565148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532874347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
655464934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
919930954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Changing the null values to 0

df2 = df2.fillna(0)
df2.head()

,29/8/2013,31/8/2013,09/02/2013,09/04/2013,09/06/2013,09/08/2013,09/10/2013,09/12/2013,14/9/2013,16/9/2013,18/9/2013,20/9/2013,22/9/2013,24/9/2013,26/9/2013,28/9/2013,30/9/2013,10/02/2013,10/04/2013,10/06/2013,10/08/2010,10/10/2013,10/12/2013
Dress_ID,,,,,,,,,,,,,,,,,,,,,,,
1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,3277,3321,3386,3479,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1212192089,151,275,570,750,813,1066,1164,1558,1756,1878,1985,2106,2454,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
1190380701,6,7,7,7,8,8,9,10,10,10,10,10,11,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,1783,1796,1812,1845,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,1681,1743,1824,1919,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736

In [16]:
# now storing this data as .csv file

df2.to_csv('F:\\Machine Learning\\INeuron_FSDS\\Live Classes\\database exercise\\datasets\\sales.csv')

#### MySQL Part:

In [17]:
# Creating functions for MySQL

# Server connection
def create_server_connection(host_name, user_name, user_pwd):
    connection = None
    try:
        connection = conn.connect(host=host_name, user=user_name, passwd=user_pwd)

        print("Connection to MySQL is successful.")

    except Error as err:
        print(f"Error is: {err}")

    else:
        return connection
    

    
# Creating database
def create_database(connection, query):
    cursor = connection.cursor()

    try:
        cursor.execute(query)
        print("Database created successfully")

    except Error as err:
        print(f"Error is: {err}")
        

        
# Connecting to the database
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = conn.connect(host=host_name, user=user_name, passwd=user_password, database=db_name)
        print("Connected to the Database Successfully")

    except Error as err:
        print(f"Error is: {err}")

    else:
        return connection
 


    
# Executing query
def execute_query(connection, query):
    cursor = connection.cursor()

    try:
        cursor.execute(query)
        connection.commit()
        print("Query execution was successful")

    except Error as err:
        print(f"Error is: {err}")
        

        
        
# Showing query results
def read_query(connection, query):
    cursor = connection.cursor()
    result = None

    try:
        cursor.execute(query)
        result = cursor.fetchall()
        print("Query reading was successful")

    except Error as err:
        print(f"Error: {err}")

    else:
        return result

In [18]:
# Connection with MySQL

host = "localhost"
user = "root"
pw = "Password"

connection = create_server_connection(host, user, pw)

Connection to MySQL is successful.

In [19]:
# Creating the database

query = "CREATE DATABASE IF NOT EXISTS db_exercise"
create_database(connection, query)

Database created successfully

In [20]:
# Connecting with the database

db = "db_exercise"

db_connection = create_db_connection(host, user, pw, db)

Connected to the Database Successfully

In [21]:
# reading data from csv file

df = pd.read_csv('datasets/attributes.csv')
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,None,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,None,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,None,None,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,None,None,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,None,None,None,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,None,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [22]:
# Checking the column names

df.columns

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'waiseline', 'Material', 'FabricType', 'Decoration',
       'Pattern Type', 'Recommendation'],
      dtype='object')

In [23]:
# changing the column names with a gap between them

df.rename(columns = {'Pattern Type':'PatternType'}, inplace = True)
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,PatternType,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,None,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,None,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,None,None,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,None,None,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,None,None,None,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,None,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [24]:
engine = create_engine("mysql+pymysql://root:Password@localhost:3306/db_exercise")


try:
    df.to_sql(name='attributes', con=engine, index=False, if_exists='replace')
except Exception as e:
    print("Error is: ", e)
else:
    print("Query is Successful")

Query is Successful

In [25]:
# doing the same for the second table

df = pd.read_csv('datasets/sales.csv')
df

,Dress_ID,29/8/2013,31/8/2013,09/02/2013,09/04/2013,09/06/2013,09/08/2013,09/10/2013,09/12/2013,14/9/2013,16/9/2013,18/9/2013,20/9/2013,22/9/2013,24/9/2013,26/9/2013,28/9/2013,30/9/2013,10/02/2013,10/04/2013,10/06/2013,10/08/2010,10/10/2013,10/12/2013
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,3277,3321,3386,3479,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,1878,1985,2106,2454,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1190380701,6,7,7,7,8,8,9,10,10,10,10,10,11,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,1783,1796,1812,1845,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,1681,1743,1824,1919,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,0,0,0,560,554,544,537,525,519,511,501,492,480,400,388.0,360,364.0,372.0,377.0,380,382.0,384.0,285
496,722565148,0,0,0,875,866,861,854,850,844,841,845,851,864,859,866.0,882,888.0,895.0,898.0,906,913.0,919.0,931
497,532874347,0,0,0,734,728,726,715,694,690,686,674,665,658,616,597.0,586,569.0,561.0,555.0,551,546.0,535.0,520
498,655464934,0,0,0,254,259,261,263,268,270,272,272,264,264,257,256.0,255,254.0,253.0,250.0,249,249.0,249.0,248
499,919930954,0,0,0,538,545,558,563,578,585,590,599,605,619,628,632.0,639,645.0,651.0,655.0,660,668.0,674.0,680

In [26]:
engine = create_engine("mysql+pymysql://root:Password@localhost:3306/db_exercise")


try:
    df.to_sql(name='sales', con=engine, index=False, if_exists='replace')
except Exception as e:
    print("Error is: ", e)
else:
    print("Query is Successful")

Query is Successful

In [27]:
# reading the datasets in pandas as dataframes

q1 = "SELECT * FROM attributes"
q2 = "SELECT * FROM sales"

df_attr = pd.read_sql(q1, con=engine, index_col='Dress_ID')
df_sale = pd.read_sql(q2, con=engine, index_col='Dress_ID')

In [28]:
df_attr

,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,PatternType,Recommendation
Dress_ID,,,,,,,,,,,,,
1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,None,chiffon,ruffles,animal,1
1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,None,ruffles,animal,0
1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,None,None,print,0
966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,None,None,solid,1
722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,None,None,None,0
532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,None,lace,solid,1
655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [29]:
df_sale

,29/8/2013,31/8/2013,09/02/2013,09/04/2013,09/06/2013,09/08/2013,09/10/2013,09/12/2013,14/9/2013,16/9/2013,18/9/2013,20/9/2013,22/9/2013,24/9/2013,26/9/2013,28/9/2013,30/9/2013,10/02/2013,10/04/2013,10/06/2013,10/08/2010,10/10/2013,10/12/2013
Dress_ID,,,,,,,,,,,,,,,,,,,,,,,
1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,3277,3321,3386,3479,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1212192089,151,275,570,750,813,1066,1164,1558,1756,1878,1985,2106,2454,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
1190380701,6,7,7,7,8,8,9,10,10,10,10,10,11,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,1783,1796,1812,1845,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,1681,1743,1824,1919,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713391965,0,0,0,560,554,544,537,525,519,511,501,492,480,400,388.0,360,364.0,372.0,377.0,380,382.0,384.0,285
722565148,0,0,0,875,866,861,854,850,844,841,845,851,864,859,866.0,882,888.0,895.0,898.0,906,913.0,919.0,931
532874347,0,0,0,734,728,726,715,694,690,686,674,665,658,616,597.0,586,569.0,561.0,555.0,551,546.0,535.0,520
655464934,0,0,0,254,259,261,263,268,270,272,272,264,264,257,256.0,255,254.0,253.0,250.0,249,249.0,249.0,248
919930954,0,0,0,538,545,558,563,578,585,590,599,605,619,628,632.0,639,645.0,651.0,655.0,660,668.0,674.0,680

#### Performing SQL Functions

In [30]:
# query for join operation
q = """
SELECT *
FROM
    attributes a
       LEFT JOIN
    sales s ON a.Dress_ID = s.Dress_ID;
"""

# calling the function to get result
results = read_query(db_connection, q)

# collecting the result from the database
from_db = []

for result in results:
    result = list(result)
    from_db.append(result)

# creating column names
cols = ['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine', 'SleeveLength', 'waiseline', 'Material',\
           'FabricType', 'Decoration', 'PatternType', 'Recommendation', 'Dress_ID', '29/8/2013', '31/8/2013', '09/02/2013',\
           '09/04/2013', '09/06/2013', '09/08/2013', '09/10/2013', '09/12/2013', '14/9/2013', '16/9/2013', '18/9/2013',\
           '20/9/2013', '22/9/2013', '24/9/2013', '26/9/2013', '28/9/2013', '30/9/2013', '10/02/2013', '10/04/2013',\
           '10/06/2013', '10/08/2010', '10/10/2013', '10/12/2013']

# creating dtaframe of the result
df = pd.DataFrame(from_db, columns = cols)
display(df)

Query reading was successful

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,PatternType,Recommendation,Dress_ID,29/8/2013,31/8/2013,09/02/2013,09/04/2013,09/06/2013,09/08/2013,09/10/2013,09/12/2013,14/9/2013,16/9/2013,18/9/2013,20/9/2013,22/9/2013,24/9/2013,26/9/2013,28/9/2013,30/9/2013,10/02/2013,10/04/2013,10/06/2013,10/08/2010,10/10/2013,10/12/2013
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,None,chiffon,ruffles,animal,1,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,3277,3321,3386,3479,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,None,ruffles,animal,0,1212192089,151,275,570,750,813,1066,1164,1558,1756,1878,1985,2106,2454,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,None,None,print,0,1190380701,6,7,7,7,8,8,9,10,10,10,10,10,11,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,1783,1796,1812,1845,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,1681,1743,1824,1919,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,None,None,None,0,722565148,0,0,0,875,866,861,854,850,844,841,845,851,864,859,866.0,882,888.0,895.0,898.0,906,913.0,919.0,931
546,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,None,None,None,0,722565148,856,882,882,868,866,861,854,850,845,841,849,852,864,859,0.0,882,0.0,0.0,0.0,906,0.0,0.0,931
547,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,None,lace,solid,1,532874347,0,0,0,734,728,726,715,694,690,686,674,665,658,616,597.0,586,569.0,561.0,555.0,551,546.0,535.0,520
548,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1,655464934,0,0,0,254,259,261,263,268,270,272,272,264,264,257,256.0,255,254.0,253.0,250.0,249,249.0,249.0,248
549,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0,919930954,0,0,0,538,545,558,563,578,585,590,599,605,619,628,632.0,639,645.0,651.0,655.0,660,668.0,674.0,680

In [53]:
# Finding number of unique dresses we have based on 'Dress_ID'

# query
q = 'SELECT COUNT(DISTINCT Dress_ID) AS "Number of dresses" FROM attributes;'

# calling the function to get result
results = read_query(db_connection, q)

# collecting the result from the database
from_db = []

for result in results:
    result = list(result)
    from_db.append(result)
    
# creating column names
cols = ['Number of Unique dresses']

# creating dtaframe of the result
df = pd.DataFrame(from_db, columns = cols)
display(df)

Query reading was successful

   Number of Unique dresses
0                       475

In [54]:
# Finding number of unique dresses we having 'Recommendation' as 0

# query
q = 'SELECT COUNT(*) AS "Number of results" FROM attributes WHERE Recommendation = 0;'

# calling the function to get result
results = read_query(db_connection, q)

# collecting the result from the database
from_db = []

for result in results:
    result = list(result)
    from_db.append(result)
    
# creating column names
cols = ['Number of dresses with recommendation as 0']

# creating dtaframe of the result
df = pd.DataFrame(from_db, columns = cols)
display(df)

Query reading was successful

   Number of dresses with recommendation as 0
0                                         290

In [56]:
# finding out total dress sale based on 'Dress_ID' for each 'Dress_ID'.

q = """
SELECT DISTINCT
    Dress_ID,
    SUM(`29/8/2013` + `31/8/2013` + `29/8/2013` + `31/8/2013` + `09/02/2013` + `09/04/2013` + `09/06/2013` + `09/08/2013` +\
    `09/10/2013` + `09/12/2013` + `14/9/2013` + `16/9/2013` + `18/9/2013` + `20/9/2013` + `22/9/2013` + `24/9/2013` + \
    `26/9/2013` + `28/9/2013` + `30/9/2013` + `10/02/2013` + `10/04/2013` + `10/06/2013` + `10/08/2010` + `10/10/2013` + \
    `10/12/2013`) AS Total_sales
FROM
    sales AS s
GROUP BY s.Dress_ID;
"""

# calling the function to get result
results = read_query(db_connection, q)

# collecting the result from the database
from_db = []

for result in results:
    result = list(result)
    from_db.append(result)
    
# creating column names
cols = ['Dress_ID', 'Total_sales']

# creating dtaframe of the result
df = pd.DataFrame(from_db, columns = cols)
display(df)

Query reading was successful

       Dress_ID  Total_sales
0    1006032852      80367.0
1    1212192089      52682.0
2    1190380701        236.0
3     966005983      41824.0
4     876339541      46248.0
..          ...          ...
470   990559192       1427.0
471   713391965       8915.0
472   532874347      12606.0
473   655464934       5167.0
474   919930954      12312.0

[475 rows x 2 columns]

In [72]:
# finding out total dress sale based on 'Dress_ID' for each 'Dress_ID'.

q = """
SELECT DISTINCT
    Dress_ID,
    SUM(`29/8/2013` + `31/8/2013` + `29/8/2013` + `31/8/2013` + `09/02/2013` + `09/04/2013` + `09/06/2013` + `09/08/2013` +\
    `09/10/2013` + `09/12/2013` + `14/9/2013` + `16/9/2013` + `18/9/2013` + `20/9/2013` + `22/9/2013` + `24/9/2013` + \
    `26/9/2013` + `28/9/2013` + `30/9/2013` + `10/02/2013` + `10/04/2013` + `10/06/2013` + `10/08/2010` + `10/10/2013` + \
    `10/12/2013`) AS Total_sales
FROM
    sales AS s
GROUP BY s.Dress_ID ORDER BY Total_sales DESC;
"""

# calling the function to get result
results = read_query(db_connection, q)

# collecting the result from the database
from_db = []

for result in results:
    result = list(result)
    from_db.append(result)
    
# creating column names
cols = ['Dress_ID', 'Total_sales']

# creating dtaframe of the result
df = pd.DataFrame(from_db, columns = cols)



# finding the 3rd highest value
df.loc[2]

Query reading was successful

Dress_ID       749031896.0
Total_sales        80389.0
Name: 2, dtype: float64

#### MongoDB:

In [75]:
# converting to json file

df3 = pd.read_csv('datasets/attributes.csv')


df3.to_json('F:\\Machine Learning\\INeuron_FSDS\\Live Classes\\database exercise\\datasets\\attributes.json')

In [3]:
df_json = pd.read_json('datasets/attributes.json')
df_json.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,None,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,None,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,None,None,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [4]:
# importing the library
import pymongo

In [6]:
# connecting with the server
try:
    client = pymongo.MongoClient("mongodb+srv://ineuron:Project1@cluster0.rp4qzrr.mongodb.net/?retryWrites=true&w=majority")
except Exception as e:
    print(e)
else:
    print("Connection to MongoDB server is successful.")

Connection to MongoDB server is successful.

In [7]:
# creating database and collection

db = client["db_exercise"]
coll = db['attributes']

In [15]:
try:
    import json
except ImportError:
    import simplejson as json

In [19]:
# Inserting the data into the collection

try:
    with open('datasets/attributes.json') as file:
        file_data = json.load(file)
        
        coll.insert_many([file_data])
except Exception as e:
    print(e)
else:
    print("Data inserted successfully.")

Data inserted successfully.

In [38]:
# Now to read the data

# importing the library to take care of the objectid created by mongodb
import bson.json_util as json_util

results = coll.find()
try:
    for result in results:
        data = json_util.dumps(result)
        df = pd.read_json(data, orient='index')
except Exception as e:
    print(e)
else:
    display(df)

,$oid,0,1,2,3,4,5,6,7,8,...,490,491,492,493,494,495,496,497,498,499
_id,62e151f03db1e07327eb36e7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dress_ID,NaN,1006032852,1212192089,1190380701,966005983,876339541,1068332458,1220707172,1219677488,1113094204,...,641665398,964917582,859922576,817353671,990559192,713391965,722565148,532874347,655464934,919930954
Style,NaN,Sexy,Casual,vintage,Brief,cute,bohemian,Casual,Novelty,Flare,...,Casual,Casual,cute,bohemian,Brief,Casual,Sexy,Casual,Casual,Casual
Price,NaN,Low,Low,High,Average,Low,Low,Average,Average,Average,...,Low,Average,Average,Low,Average,Low,Low,Average,Average,Low
Rating,NaN,4.6,0.0,0.0,4.6,4.5,0.0,0.0,0.0,0.0,...,4.8,5.0,4.6,4.6,4.7,4.7,4.3,4.7,4.6,4.4
Size,NaN,M,L,L,L,M,M,XL,free,free,...,free,L,M,free,M,M,free,M,L,free
Season,NaN,Summer,Summer,Automn,Spring,Summer,Summer,Summer,Automn,Spring,...,winter,Summer,Spring,Summer,winter,Spring,Summer,Summer,winter,Summer
NeckLine,NaN,o-neck,o-neck,o-neck,o-neck,o-neck,v-neck,o-neck,o-neck,v-neck,...,bowneck,o-neck,o-neck,o-neck,o-neck,o-neck,o-neck,v-neck,boat-neck,v-neck
SleeveLength,NaN,sleevless,Petal,full,full,butterfly,sleevless,full,short,short,...,full,sleevless,halfsleeve,sleevless,halfsleeve,full,full,full,sleevless,short
waiseline,NaN,empire,natural,natural,natural,natural,empire,None,natural,empire,...,natural,natural,natural,natural,natural,natural,empire,empire,empire,empire
Material,NaN,None,microfiber,polyster,silk,chiffonfabric,None,cotton,polyster,cotton,...,polyster,cotton,acrylic,cotton,acrylic,polyster,cotton,cotton,silk,cotton
FabricType,NaN,chiffon,None,None,chiffon,chiffon,None,None,broadcloth,broadcloth,...,chiffon,None,chiffon,chiffon,chiffon,None,None,None,broadcloth,Corduroy
Decoration,NaN,ruffles,ruffles,None,embroidary,bow,None,None,lace,beading,...,bow,None,None,none,None,None,None,lace,applique,lace
Pattern Type,NaN,animal,animal,print,print,dot,print,solid,None,solid,...,solid,None,None,solid,striped,solid,None,solid,print,solid
Recommendation,NaN,1,0,0,1,0,0,0,0,1,...,0,1,0,1,0,1,0,1,1,0